*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}


/* Navbar */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#0d6efd;
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}


/* Hero */
.hero{
    height:60vh;
    background:linear-gradient(135deg,#0d6efd,#00c6ff);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:white;
    color:#0d6efd;
    border-radius:5px;
}


/* Places */
.places{
    padding:40px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.card{
    background:#f1f1f1;
    padding:40px;
    width:150px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
}


/* Footer */
footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
}
